*{
	margin:0px;
	padding:0px;
	list-style:none;
	outline:none;
	border:0px;
	text-decoration:none;
	font-family: PingFangSC-Medium;
}
body{
	/*background: #F1F1F1;*/
}
.header-top{
	width:100%;
	/*height:4rem;*/
	background:#96E8E3;
	/*position: fixed;
	left:0px;
	top:0px;
	z-index: 10000;*/
	height:14.75rem;
	background: url("../../img/monthmatron/detailsbg.png");
	background-size: 100% 100%;
}
.header-top>div:nth-child(1){
	width:100%;
	height:4rem;
	color: #FFF;
	/*overflow: hidden;*/
}
.header-top>div:nth-child(1)>span{
	display:block;
	float:left;
	height:4rem;
	line-height:4rem;
	font-size: 1.125rem;
}
.header-top>div:nth-child(1)>span:nth-child(1){
	width:20%;
	padding-top:0px;
	/*line-height:4rem;*/
}
.header-top>div:nth-child(1)>span:nth-child(1) img{
	display: block;
	margin-top:1.5rem;
	margin-bottom:1.125rem;
	margin-left:0.9375rem;
    width:1rem;
}
.header-top>div:nth-child(1)>span:nth-child(2){
	width:60%;
	text-align: center;
}
.detailsbtn>span{
	display: block;
	float: left;
	text-align: center;
	width:50%;
	height:2rem;
	line-height: 2rem;
	margin-top:1.5rem;
	background: blue;
}
.detailsbtn>span:nth-child(1){
	background: #C6F6EE;
	border-radius:0.5rem 0 0 0.5rem;
}
.detailsbtn>span:nth-child(2){
	background: #A2F1E4;
	border-radius:0 0.5rem 0.5rem 0;
}
.header-top>ul>li:nth-child(1){
	display:block;
	width:5rem;
	height:5rem;
	margin:0 auto;
}
.header-top>ul>li:nth-child(1)>img{
	display:block;
	width:5rem;
	height:5rem;
}
.header-top>ul>li:nth-child(2){
	font-size:.937rem;
	color:#FFF;
	text-align: center;
}
.header-top>ul>li:nth-child(3){
	font-size:.5625rem;
	color:#FFF;
	text-align: center;
	padding-top: .6875rem;
}
.header-top>ul>li:nth-child(4){
	padding-top:.4375rem;
	font-size:.5625rem;
	color:#FFF;
	text-align: center;
}
.evaluatechoose{
	padding-top: 2.5rem;
}
.evaluatechoose>div{
   background: #FFF;
   box-shadow: #ccc 0px 0px 0.625rem;
   margin-left:5%;
   float: left;
   width:42.5%;
   text-align: center;
}
.evaluatechoose>div:nth-child(2){
   float:right;
   margin-right:5%;
}
.evaluatechoose>div>img{
    width:3rem;
    height:5rem;
    display:block;
    margin:0 auto;
    margin-top:1rem;
}
.evaluatechoose>div>span{
	display: block;
}
.evaluatechoose>div>span:nth-child(2){
	color:#C07864;
	font-size:1.1125rem;
	font-family:STHeiti;
	padding-top:1.5rem;
}
.evaluatechoose>div>span:nth-child(3){
	color:#202123;
	font-size:.5625rem;
	padding-top:.625rem;
}
.evaluatechoose>div>span:nth-child(4){
	padding-top:2rem;
	padding-bottom:2rem;
	width:1.3125rem;
	height:1rem;
	margin:0 auto;
}
.evaluatechoose>div>span:nth-child(4)>img{
	width:1.3125rem;
	height:1rem;
}
.search{
	clear: both;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-top: 2rem;
	border: 1px dashed #CCC;
	height:2rem;
}
.search>input{
	color:#D8D8D8;
	font-size: 0.75rem;
	padding-left:.625rem;
	height:2rem;
	display: block;
	float:left;
}
.search>img{
	width:1.0625rem;
	width:1.1875rem;
	display: block;
	float:right;
	padding-right:.625rem;
	padding-top:.5rem;
}
.evaluatebtn{
	width:10.625rem;
	height:2.75rem;
	line-height: 2.75rem;
	border-radius:1.5rem;
	background: #88E4DE;
	text-align: center;
	color:#FFF;
	font-size: 1rem;
	margin:0 auto;
	position: fixed;
	bottom:1.8125rem;
	left:6.4rem;
}
